#jinja2: trim_blocks:False
---
version: 1.0.0
maintenance_apply_when: "5 {{ maintenance_hour_gmt }} * * *"
maintenance_reboot_when: "6 {{ maintenance_reboot_hour_gmt }} * * {{ maintenance_reboot_day_gmt }}"
check_python_package_versions:
    when: "15 {{ python_package_check_hour_gmt }} * * *"
    list_command: "{{ script_dir }}/pip_freeze.sh"
    run_pipaudit: "{{ run_pipaudit }}"
    ignored_packages: "{{ ignored_python_packages }}"
check_for_available_os_fixes:
    when: "0 12 * * sun"
    threshold: "{{ available_os_fix_threshold }}"
db_backup:
    when: "20 {{ db_backup_hour_gmt }} * * *"
    database: {{ project_db }}
directory_backup:
    when: "20 {{ directory_sync_hour_gmt }} * * *"
    paths:
      - {{ media_dir }}
{% if cert_source == "certbot" %}certbot:
    when: "25 {{ certbot_renew_hour_gmt }} * * *"
    command: "{{ script_dir }}/renew_certificate.sh"
    not_due_output: {% if ansible_distribution == "Ubuntu" and ansible_distribution_major_version < "20" %} "Cert not yet due for renewal" {% else %}"The following certificates are not due for renewal yet" {% endif %}
    renewed_output: "all renewals succeeded"{% endif %}
